extends layout

block content
    title Contact List
    body
        h2.text-center Contact List
        .card.mx-auto
            .card-body
                table.table.table-bordered.table-striped.text-center
                    thead
                        tr
                            th First Name
                            th Last Name
                            th Email Address
                            th Actions
                    tbody
                        each contact in contacts
                            tr
                                td= contact.firstName
                                td= contact.lastName
                                td= contact.email
                                td
                                    a.btn.btn-primary.btn-sm(href=`/contact_view/${contact.id}`, role = "button") View

        // Button to add contact
        .container.text-center
            a.btn.btn-primary.btn-lg(href="/contact_add", role="button") Add Contact
