extends layout

block content
  .container-fluid(style="background-color: #007bff; height: 100vh; display: flex; justify-content: center: align-items: center")
    .row
      .col-12.text-center.p-4(style="background-color: #ffffff; border-radius: 10px; width: 50vw")
        h1(style="color: #333; font-size: 2.5rem; margin-bottom: 20px;") #{title}
        p(style="color: #555; font-size: 1.2rem; margin-bottom: 30px;") Welcome to Express
        p Introduction: The goal of this project is to create an Express Node.js application that serves as a contact database. Individual contacts can be subject to CRUD (create, read, update, and delete) actions via the application. Contacts may be added, edited, deleted, or viewed by users using an intuitive interface. The programme uses a file system instead of a database to store data and does not require authentication. First and last name, email address (optional), remarks (optional), and the creation/last update date/time are all included in the contact information. The application's primary routes for seeing a single contact, displaying all contacts, and editing/deleting contacts adhere to RESTful routing principles. Regular commits are encouraged by the project in order to monitor development and guarantee the legitimacy of the effort.
        h3 Pradeep Kumar Medam
        h5 PMEDAM@HAWK.IIT.EDU
        h6 A20528923
        a.btn.btn-primary(href="/contacts" style="background-color: #28a745; border-color: #28a745;") Open Contact List